{% extends 'base.html' %}

{% block con %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="container mt-5 mb-5">
            <h1><b>TTS 서비스</b></h1>

            <textarea class="form-control mt-4" name="bf" style="height: 250px;" placeholder="변환할 문장을 입력하세요">{{bf}}</textarea>

            <div class="row mt-5">
                <div class="col-sm-8">
                    <select class="form-select" name="lang">
                        {% for code, name in dic.items %}
                            <option value="{{code}}" {% if lang %} {% if lang == code %} selected {% endif %} {% else %} {% if code == "en" %} selected {% endif %} {% endif %}>{{ name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-outline-primary" style="width: 100%;">변환</button>
                </div>
                {% if fn %}
                <div class="col-sm-2">
                    <a href="/media/tts/{{fn}}.mp3" class="btn btn-outline-success" style="width: 100%;" download>다운</a>
                </div>
                {% endif %}
            </div>
        </div>
    </form>


</div>

<style>
    textarea{
        resize: none;
    }
</style>

{% endblock %}